
.stock{
    border:1px solid rgb(22, 19, 19);
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}
.style{
    color:red;
    font-size: 18px;
    
}
.productid{
 width: 70%;
}
.nameq{
    width: 100%;
    border-bottom :1px solid rgb(223, 219, 219);
    padding-bottom: 10px;
}
.usrimage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
@media screen and (max-width:990px) {
    .proimg{
        height: 80% !important;
    }
}
@media screen and (max-width:850px) {
    .productid{
        display: flex;
        flex-direction: column !important; ;
    }
    .stylepro{
        width: 100% !important;
    }
    .proimg{
        height: 80% !important;
    }
    .description{
        width: 100% !important;
       
    }
    .descr{
        display: flex;
        flex-direction: column !important;
    }
    .comen{
        display: flex;
        flex-direction: column !important;
    }
    
}
@media screen and (max-width:650px) {
    .usrimage{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .nameq h2{
        font-size: 13px;
    }
    .revww{
        font-size: 10px;
    }
    
}
@media screen and (max-width: 580px){
    .description{
        & h2{
            font-size: 12px;
        }
        & p{
            font-size: 12px;
        }
    }
    
}
