.productcontainer{
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center
}
.productstyle{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc((100% - 150px) / 4);
}
.productImg{
    width: 100%;
    height: 200px;
}
.text{
    height: 90px;
    font-size: 20px;
}

@media screen and (max-width:775px) {
    .productstyle{
        width: 250px !important;
        background-color: aqua;
       
    }
    
}